---
layout: archive
---

{{ content }}


<h3>Stubbed caves (add <a href="https://github.com/ajsnyde/freesprings-org/new/main/_caves">here</a>):</h3>
{% google_map width="100%" height="400" src="_data/diveSites.yml" %}

<h3>Caves with pages:</h3>
{% google_map width="100%" height="400" src="_caves/" %}

{% assign sortedCaves = site.caves | sort_natural %}

<table>
  <tr>
    <th>Cave Name</th>
    <th>Location</th>
    <th>Maps?</th>
  </tr>
  {% for cave in sortedCaves %}
  <tr>
    <td><a href="{{ cave.url }}">{{ cave.title }}</a></td>
    <td>{{ cave.locationName }}</td>
    <td>
        {% if cave.mapFiles %}
        ✅
        {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
